*{
margin:0;
padding:0;
box-sizing:border-box;
}

body{
background:black;
color:white;
overflow-x:hidden;
font-family:'Cinzel',serif;
}

.hero{
height:100vh;
display:flex;
flex-direction:column;
justify-content:center;
align-items:center;
text-align:center;
background:url("images/hogwarts.jpg");
background-size:cover;
background-position:center;
position:relative;
}

.overlay{
position:absolute;
inset:0;
background:rgba(0,0,0,.55);
}

.hero h1,
.hero p,
.hero button{
position:relative;
z-index:2;
}

.hero h1{
font-size:4rem;
margin-bottom:20px;
}

.hero p{
font-size:1.3rem;
margin-bottom:30px;
}

.hero button{
padding:15px 35px;
border:none;
border-radius:30px;
cursor:pointer;
font-size:18px;
}

.hidden{
display:none;
}

#journalSection{
height:100vh;
display:flex;
justify-content:center;
align-items:center;
background:#3b2414;
}

.journal{
width:90%;
max-width:800px;
background:#f7e7b5;
padding:40px;
border-radius:20px;
color:black;
}

.page{
display:none;
font-family:'Dancing Script',cursive;
font-size:1.5rem;
}

.page.active{
display:block;
}

.controls{
margin-top:30px;
display:flex;
justify-content:space-between;
}
